{% extends 'base.html' %}
{% load static %}
{% block title %} {% endblock %}
{% block css %}
/* Google Poppins Font CDN Link */

        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        /* Variables */

         :root {
            --primary-font-family: 'Poppins', sans-serif;
            --light-white: #f5f8fa;
            --gray: #5e6278;
            --gray-1: #e3e3e3;
        }

        body {
            font-family: var(--primary-font-family);
            font-size: 14px;
        }
        /* Main CSS */

        .logo {
            font-family: var(--primary-font-family);
        }

        .wrapper {
            padding: 0 0 100px;
            background-image: url("images/bg.png");
            background-position: bottom center;
            background-repeat: no-repeat;
            background-size: contain;
            background-attachment: fixed;
            min-height: 100%;
        }

        .wrapper input {
            background-color: var(--light-white);
            border-color: var(--light-white);
            color: var(--gray);
        }

        .wrapper input:focus {
            box-shadow: none;
        }

        .wrapper .password-info {
            font-size: 10px;
        }

        .wrapper .submit_btn {
            padding: 10px 15px;
            font-weight: 500;
        }

        .wrapper .login_with {
            padding: 8px 15px;
            font-size: 13px;
            font-weight: 500;
            transition: 0.3s ease-in-out;
        }

        .wrapper .submit_btn:focus,
        .wrapper .login_with:focus {
            box-shadow: none;
        }

        .wrapper .login_with:hover {
            background-color: var(--gray-1);
            border-color: var(--gray-1);
        }

        .wrapper .login_with img {
            max-width: 7%;
        }
{% endblock %}
{% block body %}
<section class="wrapper">
        <div class="container">
            <div class="col-sm-8 mt-3 offset-sm-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 text-center">
                <form class="rounded bg-white shadow p-5" action="" method="post">
                    {% if error %}
                    <div class="alert alert-danger" role="alert">{{error}}</div>
                    {% endif %} {% csrf_token %}
                    <h3 class="text-dark fw-bolder fs-4 mb-2">Create an Account</h3>

                    <div class="fw-normal text-muted mb-2">
                        Already have an account? <a href="/login" class="text-primary fw-bold text-decoration-none">Sign in here</a>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="firstname" placeholder="name@example.com" value="{{values.first_name}}">
                        <label>First Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="lastname" placeholder="name@example.com" value="{{values.last_name}}">
                        <label>Last Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" name="email" placeholder="name@example.com" value="{{values.email}}">
                        <label>Email address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="tel" class="form-control" name="phone" placeholder="Phone" value="{{values.phone}}">
                        <label>Phone</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" placeholder="Password" name="password">
                        <label>Password</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" placeholder="Password" name="confirm_password">
                        <label>Confirm Password</label>
                    </div>

                    <button type="submit" class="btn btn-primary submit_btn w-100 my-4">Register</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}